body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 12px;
}
